<section class="video">
	
	<div class="video__wrap">
		<video autoplay muted loop playsinline>
		<source src="assets/videos/video2.mp4" type="video/mp4">
	</video>
	</div>
	<div class="video__text container">
		<h2 class="title video__title">The digital Layer of Your Closet</h2>
	</div>

	<div class="video__wrap">
		<video autoplay muted loop playsinline >
		<source src="assets/videos/video1.mp4" type="video/mp4">
	</video>
	</div>
</section>