@import '../../../../global/scss/vars.scss';

.before{
	padding: 100px 0;
	overflow-x: hidden;

	@media(max-width: 767px){
		padding: 80px 0;
	}

	&__wrap{
		@media(max-width: 992px){
			min-height: 565px;
		}
		@media(max-width: 767px){
			min-height: 380px;
		}
	}
	
	&__title{
		font-weight: 900;
		font-size: 44px;
		font-family: $titleFont;
		text-align: center;
		margin-bottom: 60px;
		margin: 0 auto 60px;

		@media(max-width: 767px){
			font-size: 30px;
			margin-bottom: 20px;
		}
	}

	&__img{
		display: flex;
		justify-content: space-between;
		@media(max-width: 992px){
			transform-origin: top center;
			scale: 1.5;

		}
		
		@media(max-width: 480px){
			transform-origin: top center;
			scale: 1.8;
		}

		&-left{
			width: 100%;
			max-width: 460px;
			display: flex;
			align-items: center;
		}
		&-right{
			width: 100%;
			max-width: 230px;
			display: flex;
			align-items: center;
		}
	}
}