@import '../../../../global/scss/vars.scss';


.hero{
	padding: 80px 0;
	overflow-x: hidden;
	@media(max-width: 992px){
		padding: 120px 0 80px 0; 
	}
	@media(max-width: 540px){
		padding: 180px 0 80px 0; 
	}

	&__content{
		text-align: center;
		position: relative;
		z-index: 10;
	}

	&__title{
		font-size: 44px;
		font-family: $titleFont;
		color: #333333;
		font-weight: 900;
		line-height: 1.2;
		margin-bottom: 15px;
	}

	&__subtitle{
		color: #333333;
		font-size: 24px;
	}

	&__img{
		@media(max-width: 992px){
			transform: scale(1.2);
			transform-origin: left center;
			width: 100%;
		}

		// @media(max-width: 540px){
		// 	transform: scale(2);
		// 	padding-bottom: 40px;
		// }
	}

	@media(max-width: 992px){
		&__title{
			font-size: 36px;
		}

		&__subtitle{
			font-size: 18px;
			line-height: 1.3;
		}
	}
}

[data-item-id="tops_1"] img.item-thumbnail,
[data-item-id="tops_2"] img.item-thumbnail,
[data-item-id="tops_3"] img.item-thumbnail,
[data-item-id="tops_4"] img.item-thumbnail,
[data-item-id="tops_5"] img.item-thumbnail,
[data-item-id="tops_6"] img.item-thumbnail,
[data-item-id="tops_7"] img.item-thumbnail,
[data-item-id="tops_8"] img.item-thumbnail {
	opacity: 0;
}

@keyframes hero-pulse-swipe {
	0% { 
		transform: translateX(0);
		opacity: 1; 
	}
	50% { 
		transform: translateX(20px);
		opacity: 1; 
	}
	100% { 
		transform: translateX(0);
		opacity: 1; 
	}
}

.hero-pulse-wrapper {
	position: absolute;
	width: 40px;
	height: 40px;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transform-origin: center center;
	z-index: 9999;
	left: 44%;
	top: 12%;
	transform: translate(-50%, 0);
	
	svg {
		animation: hero-pulse-swipe 2s ease-in-out infinite;
		will-change: transform, opacity;
	}
}

.hero-pulse-svg {
	animation: hero-pulse-swipe 2s ease-in-out infinite;
	will-change: transform, opacity;
}
