@import 'vars.scss';
@import "normalize.scss";
@import "mixins.scss";

html {
  font-size: 1px;
  scroll-behavior: smooth;
}

body {
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  font-family: $fonts;

  color: #333;
  overflow-x: hidden;
  background: #fff;
  

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-padding-top: 70px; 
  

  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
  transition: scroll-behavior 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	min-width: 320px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  border: 0 solid #e5e7eb;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
video {
  width: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.hero{
	overflow: hidden;
}

@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 576px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 480px;
  }
}

h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 700;

  @media (max-width: $tablet-width-hr) {
    font-size: 55px;
    line-height: 65px;
  }

  @media (max-width: $phone-width-lg) {
    font-size: 43px;
    line-height: 55px;
  }
}

h2 {
  color: #333333;
  font-weight: 900;
	font-family: $titleFont;
	line-height: 36px;
	text-transform: uppercase;

  @media (max-width: $tablet-width-hr) {
    font-size: 35px;
  }

  @media (max-width: $phone-width-lg) {
    font-size: 30px;
  }
}

h3 {
  font-size: 30px;
  font-weight: 700;

  @media (max-width: $phone-width-lg) {
    font-size: 24px;
  }
}

.btn {
  border-radius: 200px;
  background-color: $color-green;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 30px;
  display: flex;
  align-items: center;
  width: fit-content;
  transition: all 0.5s;
  cursor: pointer;
  height: min-content;
  text-align: center;

  @media (max-width: 425px) {
    font-size: 16px;
    padding: 5px 15px;
  }

  @media (max-width: 370px) {
    font-size: 12px;
    padding: 5px 10px;
  }

  &:hover {
    color: #fff;
    background-color: $color-blue;
  }

  // svg {
  //   margin-left: 20px;
  //   position: relative;
  //   top: -1px;

  //   line,
  //   path {
  //     transition: 0.5s;
  //   }
  // }

  // &:hover line,
  // &:hover path {
  //   stroke: #fff;
  // }
}

// @include r(1200) {
//   .header__menu {
//     display: none;
//   }
// }


body{
	position: relative;
	min-height: 100%;
	&:before{
		z-index: -1;
		content: '';
		position: absolute;
		background-image: url('../img/bg.jpg');
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 100%;
	}
}

