//----------------------fonts---------------------
$fonts: 'Monserrat', sans-serif;
$titleFont: 'Next', sans-serif;
//---------------------end-fonts---------------------

//----------------------color---------------------
$accent: #FAF8EB;
$text: #353535;
$dark: #161715;
$title: #f43ddb;
//---------------------end-color---------------------

$desktop-width-4k: 3500px;
$desktop-width-lg: 2300px;
$laptop-width: 1720px;
$laptop-width-sm: 1600px;
$laptop-width-sm-2: 1400px;
$tablet-width-hr: 1025px;
$tablet-width-lg: 1000px;
$tablet-width: 800px;
$tablet-width-sm: 700px;
$phone-width-lg: 600px;
$phone-width: 430px;
$phone-width-sm: 375px;

$desktop-height-lg: 950px;
$desktop-height-sm: 800px;
$phone-height-lg: 700px;
$phone-height-sm: 540px;

$color-black: #000000;
$color-white: #ffffff;
$color-dark-grey: #272a36;
$color-grey: #b1b1b1;
$color-light-grey: #f2f2f3;
$color-blue: #34b7e1;
$color-blue-2: #3bc3ef;
$color-green: #87caae;
$color-red: #e64b3c;
$color-orange: #ea710c;

$container: 1155px;
$container-width-s: 63.1vw;
$container-width-b: 75.75vw;

$container-padding: 30px;


