
<section class="tabs__wrapper">
	<div class="tabs__content container">
		<h2 class="tabs__title">Your Wardrobe, Made Digital </h2>
		<p class="tabs__sub">CATA is your AI-powered closet: designed to help you see, style and wear everything you own. See what you have, remember what you forgot, and discover new combinations in seconds.</p>
	</div>
<div class="container tabs__container">


<div class="tabs">
	
	<ul class="tabs__list">
		<li class="tabs__item">See</li>
		<li class="tabs__item">Style</li>
		<li class="tabs__item">Wear</li>
	</ul>
	<div>
	<div class="tabs__wrap">
		<div class="tabs__img">
			<img src="assets/img/tabs1.png" alt="">
		</div>
			<div class="tabs__text">
			<h2 class="tabs__subtitle">See Everything</h2>
				<p class="tabs__desc">Your entire closet in one place, from clothes to accessories.</p>
			</div>
		</div>
	<div class="tabs__wrap">
		<div class="tabs__img">
			<img src="assets/img/tabs2.png" alt="">
		</div>
			<div class="tabs__text">
			<h2 class="tabs__subtitle">Style Smarter</h2>
			<p class="tabs__desc">Mix &amp; match outfits before getting dressed.</p>
			</div>
		</div>
			<div class="tabs__wrap">
		<div class="tabs__img">
			<img src="assets/img/tabs3.png" alt="">
		</div>
			<div class="tabs__text">
				<h2 class="tabs__subtitle">Wear More</h2>
				<p class="tabs__desc">Track what you wear, discover new + forgotten favorites, and get more from your wardrobe.</p>
			</div>
		</div>
	</div>
</div>
</div>

</section>