@import "../../../../global/scss/vars.scss";

.tabs {
  width: 100%;
  max-width: 670px;
  padding-top: 25px;

  &__wrapper {
    padding: 50px 0;
  }

  &__content {
    text-align: center;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }

  &__title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 10px;
  }

  &__sub {
    font-size: 20px;
    font-weight: 400;
    color: #333333;
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 1.3;
    }
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 0;
    @media (max-width: 767px) {
      font-size: 20px;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: center;
    position: relative;
    width: 60%;
    margin: 0 auto;
    border-radius: 24px;
    overflow: hidden;
    padding: 4px;
    margin-bottom: 25px;
    @media (max-width: 767px) {
      width: 100%;
    }

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: -1;
      opacity: 0.4;
    }
  }

  &__item {
    width: 100%;
    padding: 0 40px;
    border-radius: 24px;
    cursor: pointer;
    font-family: $titleFont;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.6s;
    @media (max-width: 767px) {
      padding: 0 20px;
      font-size: 16px;
    }
    &.active {
      background: #f9785f;
      color: #fff;
    }
  }

  &__wrap {
    padding: 24px;
    border-radius: 40px;
    background: #fff;
    @media (max-width: 767px) {
      padding: 12px;
    }
  }
  &__img {
    width: 100%;
    height: auto;
    overflow: hidden;
    max-height: 360px;
    margin-bottom: 20px;
    border-radius: 24px;
    @media (max-width: 767px) {
      max-height: 240px;
      margin-bottom: 12px;
    }
    @media (max-width: 480px) {
      max-height: 180px;
      margin-bottom: 0;
    }
    &:hover {
      img {
        transform: scale(1.05);
      }
    }

    img {
      width: 100%;
      height: auto;
      transition: all 0.6s;
      border-radius: 24px;
      @media (max-width: 767px) {
        border-radius: 16px;
      }
    }
  }

  &__desc {
    font-size: 20px;
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 1.3;
    }
  }
}
