@import "../../../../global/scss/vars.scss";

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff url("../img/background.webp") no-repeat center center;
  background-size: cover;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
  overflow: hidden;

  &__img {
    width: 80%;
    position: relative;
    max-width: 1500px;
    @media (max-width: 992px) {
      width: 90%;
    }

    svg {
      width: 100%;
      height: auto;
    }
  }

  &__text {
    position: absolute;
    left: 0;
    bottom: 15vh;
    font-size: clamp(120px, 10vw, 200px);
    text-transform: uppercase;
    font-family: $titleFont;
    font-weight: 900;
    color: #f9785f;
    opacity: 0.5;
  }

  &__mobile {
    display: none;
    svg {
      height: 90vh;
    }
    @media (max-width: 992px) {
      display: block;
    }
  }

  &__desc {
    @media (max-width: 992px) {
      display: none;
    }
  }
}

#bText1,
#lText2,
#rText1,
#lText3B {
  opacity: 0;
}
