@import "../../../../global/scss/vars.scss";

.form {
  padding: 190px 0;
  background-image: url("../img/background.webp");
  background-repeat: no-repeat;
  background-size: cover;

  &-tabs {
    &__header {
      width: 100%;
      max-width: 670px;
      margin: 0 auto;
      padding: 40px 100px 60px 100px;
      border-radius: 40px;
      background: #fff;
      @media (max-width: 767px) {
        padding: 25px 60px 25px 60px;
      }
      @media (max-width: 540px) {
        padding: 20px;
      }
    }
    &__list {
      display: flex;
      margin: 0 auto;
      background: #f5f5f5;
      max-width: 310px;
      border-radius: 24px;
      padding: 4px;
      height: 46px;
      gap: 8px;
      margin-bottom: 40px;
      @media (max-width: 767px) {
        margin-bottom: 25px;
      }
    }
    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: 500;
      border-radius: 24px;
      color: #333333;
      width: 50%;
      text-align: center;
      transition: all 0.6s;
      cursor: pointer;
      @media (max-width: 767px) {
        font-size: 14px;
      }
    }
    &--active {
      color: #fff;
      background: #333333;
    }
  }
  &__title {
    font-family: $titleFont;
    font-weight: 700;
    font-size: 44px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 16px;
    color: #333333;
    @media (max-width: 767px) {
      font-size: 30px;
      margin-bottom: 5px;
      line-height: 1.3;
    }
  }
  &__subtitle {
    font-size: 20px;
    color: #333333;
    text-align: center;
    @media (max-width: 992px) {
      font-size: 16px;
      line-height: 1.3;
    }
    @media (max-width: 480px) {
      font-size: 12px;
    }
  }

  &__form {
    width: 100%;
    max-width: 340px;
    margin: 50px auto 0 auto;
    @media (max-width: 767px) {
      margin: 25px auto 0 auto;
    }

    input {
      border: 1px solid #64748b;
      border-radius: 8px;
      padding: 14px 14px 14px 44px;
      background-image: url("../img/mail.svg");
      background-repeat: no-repeat;
      background-position: 16px center;
      width: 100%;
    }
    button {
      width: 100%;
      text-align: center;
      margin-top: 35px;
      background: #f9785f;
      border-radius: 8px;
      color: #fff;
      font-size: 20px;
      height: 44px;
      cursor: pointer;
      transition: all 0.6s;
      @media (max-width: 767px) {
        margin-top: 20px;
        font-size: 16px;
        height: 36px;
      }
    }
  }
}
