<section class="form" id="contact">
	<div class="container forms__container">
		
	<div class="form-tabs__header">
		<ul class="form-tabs__list">
			<li class="form-tabs__item">Investor</li>
			<li class="form-tabs__item">User</li>
		</ul>
	<div class="form-tabs__content-wrapper">
		<div class="form-tabs__content">
			<div class="waitlist-form">
				<h2 class="form__title">JOIN THE WAITLIST</h2>
				<p class="form__subtitle">Enter your email to reserve your closet.</p>
				<form class="form__form">
					<div class="form__input-wrapper">
						<input type="email" class="form__input" placeholder="emailhere@gmail.com" required>
					</div>
					<button type="submit" class="form__button">Request deck</button>
				</form>
			</div>
		</div>
		<div class="form-tabs__content">
			<div class="waitlist-form">
				<h2 class="form__title">JOIN THE WAITLIST</h2>
				<p class="form__subtitle">Enter your email to reserve your closet.</p>
				<form
					action="https://joincata.us20.list-manage.com/subscribe/post?u=8ef5cd387142c5ef017d5ef1d&id=0691e5a4e2&f_id=008f06eef0"
					method="post" id="mc-embedded-subscribe-form" target="_blank" novalidate class="cata-waitlist form__form">
					<label class="sr-only" for="mce-EMAIL">Email</label>
					<input type="email" name="EMAIL" id="mce-EMAIL" placeholder="you@email.com" required>
					<label class="sr-only" for="mce-FNAME">First name (optional)</label>
					<input type="text" name="FNAME" id="mce-FNAME" placeholder="First name" />
					<div aria-hidden="true" style="position:absolute; left:-9999px;">
						<input type="text" name="b_8ef5cd387142c5ef017d5ef1d_0691e5a4e2" tabindex="-1" value="">
					</div>
					<button type="submit" id="mc-embedded-subscribe">Join the waitlist</button>
					<div class="form-messages">
						<div id="mce-error-response" style="display:none;"></div>
						<div id="mce-success-response" style="display:none;"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
	</div>
</section>

