

<section class="badge-two">
	<div class="container badge__container">

		<div class="badge__item ">
			<div class="badge__text">
				<p class="badge__desc--two">We realized the closet was built for storage, not usage.</p>
				<span class="badge__desc--two badge__desc--two-title">It’s time to bring it online.</span>
				<p class="badge__desc--two">That’s why we’re building the most accurate, intuitive wardrobe platform ever made, to make your real clothes wearable in a digital space<span> on you:</span></p>
			</div>
			<div class="badge__accent">
				<ul class="badge__accent-list">
					<li>for everyday planning</li>
					<li>shopping new items</li>
					<li>reselling what you don’t wear</li>
					<li>sharing your looks</li>
				</ul>
			</div>
				<p class="badge__desc--two badge__desc--two-accent">Welcome to the new focal point of fashion</p>
		</div>

	</div>
</section>



