@import '../../../../global/scss/vars.scss';


.badge {

	&-two {
		padding: 125px 0;

		@media(max-width: 992px) {
			padding: 80px 0;
		}

		@media(max-width: 676px) {
			padding: 40px 0 80px 0;
		}
	}

	&__item {
		background-image: url('../img/card__2item2.jpg');
		text-align: center;
		height: fit-content;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 40px 20px;
		border-radius: 40px;
		max-width: 700px;
		margin: 0 auto;

		@media(max-width: 992px) {
			background-size: 140%;
			padding: 20px;
			max-width: 485px;
		}

		@media(max-width: 767px) {
			grid-column-start: auto;
			max-height: max-content;
			border-radius: 20px;
		}

		@media(max-width: 540px) {
			background-size: 220%;
			padding: 20px 10px;
		}


	}

	&__text {
		margin: 10px 0 30px 0;

		@media(max-width: 992px) {
			margin: 10px 0 20px 0;
		}
	}

	&__title {
		font-weight: 900;
		font-size: 44px;
		margin-bottom: 15px;

		@media(max-width: 1200px) {
			font-size: 36px;
		}

		@media(max-width: 540px) {
			font-size: 20px;
			margin-bottom: 10px;
		}
	}

	&__accent {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;
		text-align: center;
		background: #F9785F;
		border-radius: 16px;
		padding: 16px;
		font-size: 24px;
		line-height: 1.3;
		color: #fff;
		font-weight: 400;
		max-width: 670px;
		margin: 0 auto;

		@media(max-width: 992px) {
			font-size: 20px;
		}

		@media(max-width:676px) {
			font-size: 16px;
		}

		span {
			font-weight: 600;
		}

		&-list {
			margin-top: 8px;
			list-style: none;
			padding-left: 0;
			text-align: left;

			li {
				position: relative;
				padding-left: 30px;
				margin-bottom: 4px;
				font-weight: 600;

				&:before {
					content: '';
					background-image: url('../img/check.png');
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					position: absolute;
					left: 0;
					top: 8px;
					width: 21px;
					height: 16px;
				}
			}
		}
	}

	&__desc--two {
		font-size: 24px;

		span {
			font-weight: 600;
		}

		@media(max-width: 992px) {
			font-size: 16px;
			line-height: 1.2;
		}

		&-title {
			font-weight: 700;
			margin: 10px 0;
			display: block;
		}

		&-accent {
			color: #F9785F;
			margin-top: 30px;
			font-weight: 600;

			@media(max-width: 992px) {
				margin-top: 15px;
			}
		}
	}

}