<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{!-- ./assets/img/logo.png --}}
  <link rel="shortcut icon" href="./assets/img/favicon.ico" type="image/x-icon">
  <meta http-equiv='cache-control' content='no-cache'>
  <meta http-equiv='expires' content='0'>
  <meta http-equiv='pragma' content='no-cache'>
  <link rel="preload" as="image" href="./assets/img/background.webp">
  <title>CataCata</title>

</head>

<body>
  {{!-- {{>../../components/popup/popup.hbs}} --}}

      {{!-- {{>../../components/loader/loader.hbs}} --}}
			{{>./components/index-preloader/index-preloader.hbs}}
      {{>../../components/header/header.hbs}}
          <main class="home__main">
  
            {{>./components/index-intro/index-intro.hbs}}
						{{>./components/index-builder/index-builder.hbs}}
						{{>./components/index-tabs/index-tabs.hbs}}
						{{>./components/index-video/index-video.hbs}}
						{{>./components/index-cards/index-cards.hbs}}
						{{>./components/index-before/index-before.hbs}}
						{{>./components/index-beforeTwo/index-beforeTwo.hbs}}
						{{>./components/index-beforeThree/index-beforeThree.hbs}}
						{{>./components/index-cardsTwo/index-cardsTwo.hbs}}
						{{>./components/index-form/index-form.hbs}}
						{{>./components/index-faq/index-faq.hbs}}
            
          </main>
      {{>../../components/footer/footer.hbs}}



 
</body>

</html>