// @import "../../global/scss/vars.scss";

@import "../../global/scss/vars.scss";

.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
	align-items: center;
  z-index: 10;
  padding: 28px 0;


	&__container{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		@media(max-width: $phone-width-lg){
			align-items: center;
		}
	}

	&--menu{
		z-index: 1001;
	}

	&__logo{
		width: 193px;
		height: 70px;

		@media(max-width: 1024px){
			width: 130px;
			height: 47px;
		}
		svg{
			width: 100%;
			height: auto;
		}
	}

  &__nav {
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1001;

    @media (max-width: $tablet-width-sm),
      (max-height: $phone-height-sm) and (orientation: landscape) {
      position: fixed;
      top: 0;
      right: -50vw;
			width: 50vw;
			height: 100vh;
      transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
      background-color: #F9785F;
      padding: 30px 15px;
      opacity: 0;
      overflow: hidden;
      z-index: 1000;
			display: flex;
			align-items: center;
			justify-content: center;
    }

    @media (max-height: 380px) and (orientation: landscape) {
      padding: 15px 15px;
    }

		&--active{
			right: 0 !important;
			opacity: 1 !important;
			justify-content: flex-end;
		}
  }

  &__menu-list {
    display: flex;
    gap: 28px;
		a{
			position: relative;
		}

    @media (max-width: $tablet-width-sm),
      (max-height: $phone-height-sm) and (orientation: landscape) {
      flex-direction: column;
      align-items: flex-end;
      gap: 32px;
			width: 100%;
    }

    & > li {
      padding-left: 0;
      margin-bottom: 0;

      @media (max-width: $tablet-width-sm),
        (max-height: $phone-height-sm) and (orientation: landscape) {
        padding-bottom: 0;
				width: 100%;
				text-align: right;
				position: relative;
				

				&:after{
					content: '';
					position: absolute;
					background-image: url('../img/arrow.svg');
					top: 8px;
					left: 0;
					width: 100%;
					height: 12px;
					width: 15px;
				}


      }

      &::before {
        content: none;
      }
    }

    a {
      font-weight: 700;
      display: block;
      margin-bottom: 0;
      font-weight: 700;
      font-size: 14rem;
			text-transform: uppercase;
      color: #fff;
			position: relative;
			overflow: hidden;
			transition: all .6s;
			&:before{
				content: '';
				position: absolute;
				bottom: 0px;
				left: -200%;
				transform: translateX(-50%);
				height: 2px;
				width: 100%;
				background: #F9785F;
				transition: all .6s;
			}

			&:hover{
				&:before{
					left: 50%;
				}
			}

      @media (max-width: $tablet-width-sm),
        (max-height: $phone-height-sm) and (orientation: landscape) {
        font-size: 18rem;

      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          color: $color-white !important;

          @media (max-width: $tablet-width-sm) {
            color: #246081 !important;
          }
        }
      }
    }
  }


  .hamburger {
    display: block;
    position: relative;
    width: 20px;
    height: 14px;
    display: none;
    cursor: pointer;
    z-index: 1001;

    @media (max-width: $tablet-width-sm),
      (max-height: $phone-height-sm) and (orientation: landscape) {
      display: block;
    }
    
    &__item,
    &:after,
    &:before {
      height: 2px;
      width: 100%;
      position: absolute;
      background-color: #F9785F;
      margin: 0 auto;
      transition: all 0.5s;
      pointer-events: none;
      border-radius: 20px;
    }

    &__item {
      top: 6px;
    }

    &:hover::after,
    &:hover::before,
    &:hover &__item {
      background-color: #F9785F;
    }

    &--active::after,
    &--active::before,
    &--active:hover &__item {
      background-color: #fff !important;
    }

    &:after,
    &:before {
      content: "";
    }
    
    &:after {
      bottom: 0px;
    }
    
    &:before {
      top: 0px;
    }
    
    &--active &__item {
      opacity: 0;
      transition: 0.5s;
    }
    
    &--active:before {
      transform: rotate(45deg);
      top: 5px;
    }
    
    &--active:after {
      transform: rotate(-45deg);
      bottom: 7px;
    }
  }
}

.hamburger--active{
	.hamburger__item{
		opacity: 0;
	}
}