<section class='builder' id="builder">
 <div class="container">
	<div class="builder__wrap">

		<div class="avatar-section">
			 <img class="avatar-section__phone" src="assets/img/phone2.png" alt="">
			 
			 <div class="info-block info-block-1">
				
				 <div class="info-text info-text__one">
					 <span>See your real clothes  on your avatar</span>
					 
					 <span> 
						<svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.78001 14.72C6.91249 14.8622 6.98461 15.0502 6.98119 15.2445C6.97776 15.4388 6.89905 15.6242 6.76163 15.7616C6.62422 15.899 6.43883 15.9777 6.24453 15.9812C6.05023 15.9846 5.86219 15.9125 5.72001 15.78L0.220011 10.28C0.079561 10.1394 0.000671387 9.94875 0.000671387 9.75C0.000671387 9.55125 0.079561 9.36063 0.220011 9.22L5.72001 3.72C5.86219 3.58752 6.05023 3.5154 6.24453 3.51883C6.43883 3.52225 6.62422 3.60097 6.76163 3.73838C6.89905 3.87579 6.97776 4.06118 6.98119 4.25548C6.98461 4.44978 6.91249 4.63783 6.78001 4.78L2.56101 9H10.25C14.8065 9 18.5 5.3065 18.5 0.750001C18.5 0.551088 18.579 0.360323 18.7197 0.21967C18.8603 0.0790176 19.0511 9.53674e-07 19.25 9.53674e-07C19.4489 9.53674e-07 19.6397 0.0790176 19.7803 0.21967C19.921 0.360323 20 0.551088 20 0.750001C20 6.135 15.635 10.5 10.25 10.5H2.56051L6.78001 14.72Z" fill="#333333"/>
</svg>
</span>
				 </div>
			 </div>
			 
			 <div class="info-block info-block-2">
				<div class="arrow__wrap arrow__wrap__two">
				 <svg class="info-arrow" width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					 <path d="M6.78001 1.28003C6.91249 1.13785 6.98461 0.949808 6.98119 0.755507C6.97776 0.561206 6.89905 0.375821 6.76163 0.238408C6.62422 0.100995 6.43883 0.0222829 6.24453 0.0188546C6.05023 0.0154264 5.86219 0.0875494 5.72001 0.220029L0.220011 5.72003C0.079561 5.86066 0.000671387 6.05128 0.000671387 6.25003C0.000671387 6.44878 0.079561 6.6394 0.220011 6.78003L5.72001 12.28C5.86219 12.4125 6.05023 12.4846 6.24453 12.4812C6.43883 12.4778 6.62422 12.3991 6.76163 12.2617C6.89905 12.1242 6.97776 11.9389 6.98119 11.7446C6.98461 11.5503 6.91249 11.3622 6.78001 11.22L2.56101 7.00003H10.25C14.8065 7.00003 18.5 10.6935 18.5 15.25C18.5 15.4489 18.579 15.6397 18.7197 15.7804C18.8603 15.921 19.0511 16 19.25 16C19.4489 16 19.6397 15.921 19.7803 15.7804C19.921 15.6397 20 15.4489 20 15.25C20 9.86503 15.635 5.50003 10.25 5.50003H2.56051L6.78001 1.28003Z" fill="#333333"/>
				 </svg>
				</div>
				 <div class="info-text info-text__two">
					 <span>Invite AI into your wardrobe. Discover new combos.</span>

				 </div>
				
			 </div>
			 
			 <div class="info-block info-block-3">
					<div class="arrow__wrap arrow__wrap__three">
					 <svg class="info-arrow" width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					 <path d="M6.78001 1.28003C6.91249 1.13785 6.98461 0.949808 6.98119 0.755507C6.97776 0.561206 6.89905 0.375821 6.76163 0.238408C6.62422 0.100995 6.43883 0.0222829 6.24453 0.0188546C6.05023 0.0154264 5.86219 0.0875494 5.72001 0.220029L0.220011 5.72003C0.079561 5.86066 0.000671387 6.05128 0.000671387 6.25003C0.000671387 6.44878 0.079561 6.6394 0.220011 6.78003L5.72001 12.28C5.86219 12.4125 6.05023 12.4846 6.24453 12.4812C6.43883 12.4778 6.62422 12.3991 6.76163 12.2617C6.89905 12.1242 6.97776 11.9389 6.98119 11.7446C6.98461 11.5503 6.91249 11.3622 6.78001 11.22L2.56101 7.00003H10.25C14.8065 7.00003 18.5 10.6935 18.5 15.25C18.5 15.4489 18.579 15.6397 18.7197 15.7804C18.8603 15.921 19.0511 16 19.25 16C19.4489 16 19.6397 15.921 19.7803 15.7804C19.921 15.6397 20 15.4489 20 15.25C20 9.86503 15.635 5.50003 10.25 5.50003H2.56051L6.78001 1.28003Z" fill="#333333"/>
				 </svg>
				 </div>
				 <div class="info-text info-text__three">
					 <span>Swipe through what you actually own</span>
				 </div>
			
			 </div>
			<div class="avatar-container">
				<img id="avatar-base" src="assets/avatar/base.webp" alt="Avatar Base" class="avatar-base" />
				<div class="clothing-layers">
					<img id="shoes-layer" class="clothing-layer" style="display: none;" />
					<img id="bottoms-layer" class="clothing-layer" style="display: none;" />
					<img id="dresses-layer" class="clothing-layer" style="display: none;" />
					<img id="jumpsuits-layer" class="clothing-layer" style="display: none;" />
					<img id="tops-layer" class="clothing-layer" style="display: none;" />
					<img id="outerwear-back-layer" class="clothing-layer" style="display: none;" />
					<img id="outerwear-layer" class="clothing-layer" style="display: none;" />
					<img id="outerwear-front-layer" class="clothing-layer" style="display: none;" />
					<img id="accessories-layer" class="clothing-layer" style="display: none;" />
				</div>
				
				<button id="randomize" class="random-btn-avatar">
					<img src="assets/img/random__icon.png" alt="Random">
				</button>
				
				<div class="zoom-controls">
					<button class="zoom-btn zoom-in" id="zoom-in">+</button>
					<div class="zoom-slider-container">
						<input type="range" id="zoom-slider" class="zoom-slider" min="1" max="2" value="1" step="0.1">
					</div>
					<button class="zoom-btn zoom-out" id="zoom-out">−</button>
				</div>
			</div>
		</div>

		<div class="categories-section">
			<button class="collapse-toggle">
				<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M11 1L6 6L1 1" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>

			</button>
			<div class="category-tabs">
				<button class="category-tab active" data-category="tops">
					<svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.1145 1.915L9.56028 0.520704C9.51695 0.496683 9.46822 0.484117 9.41868 0.484193H7.83986C7.76135 0.484193 7.68605 0.515382 7.63054 0.570898C7.57502 0.626414 7.54383 0.70171 7.54383 0.780222C7.54383 1.12044 7.40868 1.44672 7.16811 1.68729C6.92754 1.92786 6.60126 2.06301 6.26104 2.06301C5.92083 2.06301 5.59454 1.92786 5.35397 1.68729C5.1134 1.44672 4.97825 1.12044 4.97825 0.780222C4.97825 0.70171 4.94706 0.626414 4.89155 0.570898C4.83603 0.515382 4.76074 0.484193 4.68223 0.484193H3.10341C3.0537 0.484032 3.00478 0.496602 2.96131 0.520704L0.407576 1.915C0.248693 1.99885 0.12949 2.14222 0.0760468 2.31373C0.0226034 2.48525 0.0392708 2.67096 0.122403 2.83022L1.07364 4.64635C1.13445 4.76097 1.22553 4.85671 1.33696 4.92317C1.44839 4.98963 1.57592 5.02426 1.70566 5.02329H2.80738V9.06902C2.80738 9.25221 2.88015 9.4279 3.00969 9.55744C3.13923 9.68697 3.31492 9.75975 3.49811 9.75975H9.02397C9.20717 9.75975 9.38286 9.68697 9.5124 9.55744C9.64193 9.4279 9.71471 9.25221 9.71471 9.06902V5.02329H10.8169C10.9467 5.02426 11.0742 4.98963 11.1856 4.92317C11.2971 4.85671 11.3881 4.76097 11.4489 4.64635L12.4002 2.83022C12.4833 2.6709 12.4999 2.48515 12.4463 2.31362C12.3928 2.14209 12.2735 1.99876 12.1145 1.915ZM1.70418 4.43124C1.68252 4.43198 1.66107 4.42682 1.64212 4.41631C1.62317 4.40579 1.60745 4.39031 1.59662 4.37154L0.646866 2.55639C0.641512 2.54552 0.638415 2.53368 0.63776 2.52158C0.637105 2.50948 0.638906 2.49737 0.643055 2.48598C0.647204 2.47459 0.653614 2.46417 0.6619 2.45532C0.670187 2.44648 0.680177 2.43941 0.69127 2.43453L2.80738 1.27903V4.43124H1.70418ZM9.12265 9.06902C9.12265 9.09519 9.11225 9.12029 9.09375 9.13879C9.07524 9.1573 9.05015 9.16769 9.02397 9.16769H3.49811C3.47194 9.16769 3.44684 9.1573 3.42834 9.13879C3.40983 9.12029 3.39944 9.09519 3.39944 9.06902V1.07625H4.40988C4.48178 1.51509 4.70732 1.91409 5.04624 2.20199C5.38515 2.48989 5.81536 2.64796 6.26006 2.64796C6.70475 2.64796 7.13496 2.48989 7.47388 2.20199C7.81279 1.91409 8.03833 1.51509 8.11023 1.07625H9.12265V9.06902ZM11.8757 2.55639L10.9245 4.37203C10.9137 4.39081 10.8979 4.40628 10.879 4.4168C10.86 4.42732 10.8386 4.43248 10.8169 4.43173H9.71471V1.27903L11.8313 2.43354C11.8424 2.43851 11.8524 2.44569 11.8607 2.45463C11.869 2.46358 11.8754 2.47411 11.8795 2.48559C11.8836 2.49707 11.8853 2.50926 11.8846 2.52143C11.8839 2.5336 11.8807 2.54549 11.8752 2.55639H11.8757Z" fill="black"/>
					</svg> Tops
				</button>
				<button class="category-tab" data-category="bottoms">
					<svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M9.89103 9.37786L8.80559 0.694362C8.78467 0.527353 8.70349 0.37373 8.5773 0.262349C8.45111 0.150968 8.2886 0.089495 8.12029 0.0894775H2.39707C2.22876 0.089495 2.06624 0.150968 1.94005 0.262349C1.81386 0.37373 1.73268 0.527353 1.71176 0.694362L0.626327 9.37786C0.614154 9.47505 0.62279 9.57372 0.651663 9.66732C0.680536 9.76091 0.728985 9.8473 0.793796 9.92074C0.858606 9.99419 0.938296 10.053 1.02758 10.0933C1.11685 10.1336 1.21368 10.1544 1.31163 10.1544H3.3192C3.47285 10.1544 3.62211 10.1032 3.74337 10.0088C3.86463 9.91447 3.95096 9.78237 3.98872 9.63343L5.25868 4.72725L6.52815 9.63343C6.56592 9.78245 6.65233 9.91461 6.77369 10.009C6.89505 10.1034 7.04442 10.1545 7.19816 10.1544H9.20572C9.30367 10.1544 9.4005 10.1336 9.48978 10.0933C9.57906 10.053 9.65875 9.99419 9.72356 9.92074C9.78837 9.8473 9.83682 9.76091 9.86569 9.66732C9.89457 9.57372 9.9032 9.47505 9.89103 9.37786ZM8.57518 3.62504C8.22594 3.57486 7.90134 3.41605 7.64738 3.17112C7.39341 2.92618 7.22296 2.60755 7.16017 2.26035H8.40497L8.57518 3.62504ZM2.39707 0.681534H8.12029C8.14445 0.681345 8.16785 0.690031 8.18604 0.705946C8.20423 0.721861 8.21594 0.743897 8.21896 0.767876L8.33096 1.6683H2.1864L2.29839 0.767876C2.30141 0.743897 2.31313 0.721861 2.33132 0.705946C2.34951 0.690031 2.3729 0.681345 2.39707 0.681534ZM2.11239 2.26035H3.35719C3.29439 2.60755 3.12394 2.92618 2.86998 3.17112C2.61601 3.41605 2.29142 3.57486 1.94217 3.62504L2.11239 2.26035ZM3.41491 9.48788C3.40953 9.50919 3.39719 9.52808 3.37985 9.54158C3.36252 9.55507 3.34117 9.56239 3.3192 9.56238H1.31163C1.29757 9.56249 1.28364 9.5596 1.27079 9.55389C1.25794 9.54817 1.24645 9.53978 1.23711 9.52927C1.22776 9.51876 1.22077 9.50637 1.21661 9.49293C1.21244 9.4795 1.2112 9.46533 1.21296 9.45137L1.86669 4.22746C2.38805 4.18983 2.88051 3.97364 3.2611 3.61534C3.6417 3.25703 3.88716 2.7785 3.95615 2.26035H4.96265V3.50564L3.41491 9.48788ZM9.27973 9.52883C9.27048 9.53936 9.2591 9.5478 9.24634 9.55358C9.23358 9.55937 9.21973 9.56237 9.20572 9.56238H7.19816C7.17577 9.56237 7.15405 9.55475 7.13656 9.54076C7.11908 9.52677 7.10687 9.50726 7.10195 9.48542L5.55471 3.50564V2.26035H6.5612C6.63019 2.7785 6.87566 3.25703 7.25625 3.61534C7.63685 3.97364 8.12931 4.18983 8.65067 4.22746L9.3044 9.45137C9.30602 9.4653 9.30466 9.47941 9.30041 9.49276C9.29616 9.50612 9.28911 9.51842 9.27973 9.52883Z" fill="black"/>
					</svg>Bottoms
				</button>
				<button class="category-tab" data-category="dresses">
					<svg width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8.44295 11.1918C8.44196 11.1886 8.44064 11.1854 8.439 11.1825L6.17241 6.35423L7.21246 4.72114L7.2169 4.71423C7.28125 4.60692 7.31525 4.48413 7.31525 4.359C7.31525 4.23386 7.28125 4.11108 7.2169 4.00376C7.21345 3.99784 7.2095 3.99192 7.20555 3.986L6.13097 2.4511V1.20136C6.13097 1.12285 6.09978 1.04756 6.04427 0.992039C5.98875 0.936523 5.91345 0.905334 5.83494 0.905334C5.75643 0.905334 5.68113 0.936523 5.62562 0.992039C5.5701 1.04756 5.53891 1.12285 5.53891 1.20136V2.44073L5.25769 2.79202C5.13751 2.9422 4.98509 3.06343 4.81172 3.14674C4.63835 3.23004 4.44847 3.2733 4.25612 3.2733C4.06378 3.2733 3.87389 3.23004 3.70053 3.14674C3.52716 3.06343 3.37474 2.9422 3.25456 2.79202L2.97333 2.44073V1.20136C2.97333 1.12285 2.94215 1.04756 2.88663 0.992039C2.83111 0.936523 2.75582 0.905334 2.67731 0.905334C2.59879 0.905334 2.5235 0.936523 2.46798 0.992039C2.41247 1.04756 2.38128 1.12285 2.38128 1.20136V2.4511L1.30669 3.986C1.30275 3.99192 1.2988 3.99784 1.29535 4.00376C1.23099 4.11108 1.197 4.23386 1.197 4.359C1.197 4.48413 1.23099 4.60692 1.29535 4.71423L1.29979 4.72114L2.33983 6.35423L0.0732433 11.1825C0.0716082 11.1854 0.0702854 11.1886 0.0692962 11.1918C0.0243346 11.2968 0.00612292 11.4114 0.016292 11.5252C0.0264611 11.639 0.0646936 11.7484 0.127565 11.8438C0.190437 11.9392 0.275984 12.0175 0.376546 12.0717C0.477108 12.1259 0.589544 12.1543 0.703784 12.1544H7.80846C7.92275 12.1544 8.03524 12.1261 8.13587 12.0719C8.2365 12.0177 8.32211 11.9394 8.38504 11.844C8.44797 11.7486 8.48624 11.6391 8.49644 11.5253C8.50663 11.4115 8.48842 11.2969 8.44344 11.1918H8.44295ZM1.80205 4.40834C1.79398 4.3942 1.78953 4.37829 1.7891 4.36202C1.78867 4.34575 1.79227 4.32963 1.79958 4.31509L2.69309 3.03822L2.79177 3.16206C2.96742 3.38156 3.19018 3.55875 3.44358 3.68052C3.69697 3.80229 3.9745 3.86551 4.25563 3.86551C4.53676 3.86551 4.81429 3.80229 5.06768 3.68052C5.32108 3.55875 5.54384 3.38156 5.71949 3.16206L5.81817 3.03822L6.71168 4.3141C6.71937 4.32844 6.72339 4.34446 6.72339 4.36073C6.72339 4.37699 6.71937 4.39301 6.71168 4.40735L5.67558 6.03551H2.83963L1.80205 4.40834ZM7.89037 11.518C7.88162 11.5318 7.86943 11.5432 7.855 11.551C7.84056 11.5588 7.82437 11.5627 7.80797 11.5624H0.703784C0.687743 11.5624 0.671936 11.5585 0.657732 11.5511C0.643529 11.5436 0.631356 11.5328 0.622268 11.5196C0.613181 11.5064 0.607453 11.4911 0.60558 11.4752C0.603708 11.4593 0.605747 11.4431 0.611522 11.4282L2.86528 6.62855H5.64696L7.90023 11.4282C7.90619 11.4428 7.90842 11.4586 7.90669 11.4743C7.90497 11.49 7.89936 11.505 7.89037 11.518Z" fill="black"/>
					</svg>Dresses
				</button>
				<button class="category-tab" data-category="jumpsuits"><svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.1145 1.915L9.56028 0.520704C9.51695 0.496683 9.46822 0.484117 9.41868 0.484193H7.83986C7.76135 0.484193 7.68605 0.515382 7.63054 0.570898C7.57502 0.626414 7.54383 0.70171 7.54383 0.780222C7.54383 1.12044 7.40868 1.44672 7.16811 1.68729C6.92754 1.92786 6.60126 2.06301 6.26104 2.06301C5.92083 2.06301 5.59454 1.92786 5.35397 1.68729C5.1134 1.44672 4.97825 1.12044 4.97825 0.780222C4.97825 0.70171 4.94706 0.626414 4.89155 0.570898C4.83603 0.515382 4.76074 0.484193 4.68223 0.484193H3.10341C3.0537 0.484032 3.00478 0.496602 2.96131 0.520704L0.407576 1.915C0.248693 1.99885 0.12949 2.14222 0.0760468 2.31373C0.0226034 2.48525 0.0392708 2.67096 0.122403 2.83022L1.07364 4.64635C1.13445 4.76097 1.22553 4.85671 1.33696 4.92317C1.44839 4.98963 1.57592 5.02426 1.70566 5.02329H2.80738V9.06902C2.80738 9.25221 2.88015 9.4279 3.00969 9.55744C3.13923 9.68697 3.31492 9.75975 3.49811 9.75975H9.02397C9.20717 9.75975 9.38286 9.68697 9.5124 9.55744C9.64193 9.4279 9.71471 9.25221 9.71471 9.06902V5.02329H10.8169C10.9467 5.02426 11.0742 4.98963 11.1856 4.92317C11.2971 4.85671 11.3881 4.76097 11.4489 4.64635L12.4002 2.83022C12.4833 2.6709 12.4999 2.48515 12.4463 2.31362C12.3928 2.14209 12.2735 1.99876 12.1145 1.915ZM1.70418 4.43124C1.68252 4.43198 1.66107 4.42682 1.64212 4.41631C1.62317 4.40579 1.60745 4.39031 1.59662 4.37154L0.646866 2.55639C0.641512 2.54552 0.638415 2.53368 0.63776 2.52158C0.637105 2.50948 0.638906 2.49737 0.643055 2.48598C0.647204 2.47459 0.653614 2.46417 0.6619 2.45532C0.670187 2.44648 0.680177 2.43941 0.69127 2.43453L2.80738 1.27903V4.43124H1.70418ZM9.12265 9.06902C9.12265 9.09519 9.11225 9.12029 9.09375 9.13879C9.07524 9.1573 9.05015 9.16769 9.02397 9.16769H3.49811C3.47194 9.16769 3.44684 9.1573 3.42834 9.13879C3.40983 9.12029 3.39944 9.09519 3.39944 9.06902V1.07625H4.40988C4.48178 1.51509 4.70732 1.91409 5.04624 2.20199C5.38515 2.48989 5.81536 2.64796 6.26006 2.64796C6.70475 2.64796 7.13496 2.48989 7.47388 2.20199C7.81279 1.91409 8.03833 1.51509 8.11023 1.07625H9.12265V9.06902ZM11.8757 2.55639L10.9245 4.37203C10.9137 4.39081 10.8979 4.40628 10.879 4.4168C10.86 4.42732 10.8386 4.43248 10.8169 4.43173H9.71471V1.27903L11.8313 2.43354C11.8424 2.43851 11.8524 2.44569 11.8607 2.45463C11.869 2.46358 11.8754 2.47411 11.8795 2.48559C11.8836 2.49707 11.8853 2.50926 11.8846 2.52143C11.8839 2.5336 11.8807 2.54549 11.8752 2.55639H11.8757Z" fill="white"/>
					</svg>  Jumpsuits
				</button>
				<button class="category-tab" data-category="outerwear">
					<svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M10.9319 4.80818L8.25435 0.791568C8.19125 0.696982 8.10576 0.619437 8.00549 0.565817C7.90523 0.512196 7.79327 0.484159 7.67956 0.484192H3.56181C3.4481 0.484159 3.33615 0.512196 3.23588 0.565817C3.13561 0.619437 3.05013 0.696982 2.98702 0.791568L0.309444 4.80818C0.254663 4.89031 0.218127 4.98324 0.202297 5.08069C0.186466 5.17814 0.19171 5.27785 0.217675 5.3731L1.27548 9.25058C1.3153 9.39674 1.40207 9.52577 1.52243 9.61777C1.64279 9.70978 1.79005 9.75966 1.94155 9.75975H3.25246C3.43565 9.75975 3.61134 9.68697 3.74088 9.55744C3.87042 9.4279 3.94319 9.25221 3.94319 9.06901V8.18093H7.29818V9.06901C7.29818 9.25221 7.37095 9.4279 7.50049 9.55744C7.63003 9.68697 7.80572 9.75975 7.98891 9.75975H9.29983C9.45132 9.75966 9.59859 9.70978 9.71894 9.61777C9.8393 9.52577 9.92607 9.39674 9.96589 9.25058L11.0237 5.3731C11.0497 5.27785 11.0549 5.17814 11.0391 5.08069C11.0232 4.98324 10.9867 4.89031 10.9319 4.80818ZM3.25246 7.58887C3.22629 7.58887 3.20119 7.57848 3.18268 7.55997C3.16418 7.54147 3.15378 7.51637 3.15378 7.4902V2.03785L4.53525 2.85242V5.51667C4.53525 5.59519 4.56644 5.67048 4.62195 5.726C4.67747 5.78151 4.75277 5.8127 4.83128 5.8127C4.90979 5.8127 4.98508 5.78151 5.0406 5.726C5.09612 5.67048 5.12731 5.59519 5.12731 5.51667V3.20124L5.47267 3.40352C5.51826 3.43043 5.57022 3.44463 5.62315 3.44463C5.67609 3.44463 5.72805 3.43043 5.77363 3.40352L6.11653 3.20124V5.12197C6.11653 5.20048 6.14772 5.27578 6.20324 5.33129C6.25875 5.38681 6.33405 5.418 6.41256 5.418C6.49107 5.418 6.56637 5.38681 6.62189 5.33129C6.6774 5.27578 6.70859 5.20048 6.70859 5.12197V2.85242L8.09006 2.03785V7.4902C8.09006 7.51637 8.07966 7.54147 8.06115 7.55997C8.04265 7.57848 8.01755 7.58887 7.99138 7.58887H3.25246ZM3.56181 1.07625H7.67956C7.69577 1.07628 7.71172 1.0803 7.72601 1.08796C7.74029 1.09562 7.75247 1.10668 7.76146 1.12016L7.96375 1.42359L5.62069 2.80308L3.27762 1.42162L3.47991 1.11819C3.48913 1.10507 3.5014 1.09439 3.51567 1.08709C3.52994 1.07978 3.54578 1.07606 3.56181 1.07625ZM3.35114 9.06901C3.35114 9.09518 3.34074 9.12028 3.32223 9.13879C3.30373 9.15729 3.27863 9.16769 3.25246 9.16769H1.94155C1.92 9.1676 1.89908 9.16046 1.88198 9.14736C1.86488 9.13427 1.85253 9.11594 1.84682 9.09516L0.789009 5.21719C0.785373 5.20361 0.78468 5.18941 0.786977 5.17554C0.789275 5.16167 0.79451 5.14845 0.802331 5.13677L2.56173 2.49718V7.4902C2.56173 7.67339 2.6345 7.84908 2.76404 7.97862C2.89357 8.10816 3.06927 8.18093 3.25246 8.18093H3.35114V9.06901ZM10.4524 5.21719L9.39456 9.09516C9.38885 9.11594 9.3765 9.13427 9.35939 9.14736C9.34229 9.16046 9.32137 9.1676 9.29983 9.16769H7.98891C7.96274 9.16769 7.93764 9.15729 7.91914 9.13879C7.90063 9.12028 7.89024 9.09518 7.89024 9.06901V8.18093H7.98891C8.17211 8.18093 8.3478 8.10816 8.47733 7.97862C8.60687 7.84908 8.67965 7.67339 8.67965 7.4902V2.49718L10.439 5.13677C10.4469 5.14845 10.4521 5.16167 10.4544 5.17554C10.4567 5.18941 10.456 5.20361 10.4524 5.21719Z" fill="black"/>
					</svg>Outerwear
				</button>
				<button class="category-tab" data-category="shoes">
					<svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M9.33102 7.27192H3.48357C1.94322 7.27192 1.17357 7.27192 0.703699 6.6855C-0.187226 5.5725 0.828124 2.6115 1.4429 1.49692C1.65132 2.75692 3.79805 2.72175 4.57977 2.54692C4.05897 1.49745 4.75407 1.14727 5.10162 0.971924H5.10267C6.653 2.80942 9.96837 3.80902 10.7805 5.8119C11.1318 6.6771 10.1311 7.27192 9.33102 7.27192Z" stroke="black" stroke-width="0.6" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M0.353027 5.17181C2.53965 5.92256 3.8868 6.13991 5.61458 5.59391C6.138 5.42854 6.39945 5.34559 6.56273 5.35661C6.72548 5.36816 7.05885 5.52304 7.72455 5.83384C8.55563 6.22129 9.69645 6.44441 10.853 5.88476" stroke="black" stroke-width="0.6" stroke-linejoin="round"/>
						<path d="M6.3905 2.80935L7.178 2.02185M7.4405 3.59685L8.228 2.80935" stroke="black" stroke-width="0.6" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>Shoes
				</button>
				<button class="category-tab" data-category="accessories">
					<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M3.10321 3.19489H8.43655C9.10321 3.19489 9.65877 3.86155 9.76988 4.52822L10.4365 8.52822C10.5477 9.19524 9.76988 9.86155 9.10321 9.86155H2.43655C1.76988 9.86155 0.992044 9.19524 1.10321 8.52822L1.76988 4.52822C1.88099 3.86155 2.43655 3.19489 3.10321 3.19489Z" stroke="black" stroke-width="0.6" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M3.7699 4.52813V2.52039" stroke="black" stroke-width="0.6" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M7.7699 2.5282V4.5282" stroke="black" stroke-width="0.6" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M1.23206 7.83307H10.3079" stroke="black" stroke-width="0.6" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M7.7699 2.5282C7.7699 1.86153 7.38243 1.15099 6.76602 0.795109C6.14962 0.439228 5.39018 0.439228 4.77377 0.79511C4.15737 1.15099 3.7699 1.86153 3.7699 2.5282" stroke="black" stroke-width="0.6" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>Accessories
				</button>
			</div>

			<div class="items-grid-container">
				<div id="tops-items" class="items-grid active">
				</div>
				<div id="bottoms-items" class="items-grid">
				</div>
				<div id="dresses-items" class="items-grid">
				</div>
				<div id="jumpsuits-items" class="items-grid">
				</div>
				<div id="outerwear-items" class="items-grid">
				</div>
				<div id="shoes-items" class="items-grid">
				</div>
				<div id="accessories-items" class="items-grid">
				</div>
			</div>
		</div>

		<div class="controls">
			<button id="clear-all" class="clear-btn">🧹 Clear All</button>
			<button id="show-presets" class="presets-btn">✨ Full Looks</button>
		</div>

		<div id="presets-modal" class="presets-modal" style="display: none;">
			<div class="presets-modal-content">
				<div class="presets-header">
					<h3>✨ Choose a Full Look</h3>
					<button id="close-presets" class="close-btn">&times;</button>
				</div>
				<div id="presets-grid" class="presets-grid">
				</div>
			</div>
		</div>
	</div>
 </div>

</section>