@import "../../../../global/scss/vars.scss";

.faq {
  padding: 120px 0;
}

.accordion {
  padding: 20px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #f9785f;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 24px;

  @media (max-width: 992px) {
    padding: 15px;
  }
}

.accordion:last-child {
  margin-bottom: 0;
}

.accordion__header {
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 700;
  font-family: $titleFont;
  font-size: 24px;
  color: #333333;
  text-transform: uppercase;
  line-height: 1.3;

  @media (max-width: 992px) {
    font-size: 20px;
  }
}

.accordion__header span {
  transition: all 0.3s ease;
  position: relative;
  width: 32px;
  height: 32px;
}

.accordion__header span::before,
.accordion__header span::after {
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9785f;
}

.accordion__header span::before {
  width: 12px;
  height: 2px;
}

.accordion__header span::after {
  height: 12px;
  width: 2px;
}

.accordion__content {
  transition: all 0.3s ease;
  overflow: hidden;
  color: #fff;
  height: 0;

  p {
    font-size: 20px;
    line-height: 1.3;

    @media (max-width: 992px) {
      font-size: 16px;
      line-height: 1.2;
    }
  }
}

.accordion--active {
  background: #f9785f;
  border-radius: 24px;

  .accordion__header {
    color: #fff;
  }
}

@media only screen and (max-width: 1200px) {
  .accordion__content {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .accordion__content {
    padding-left: 10px;
  }
}

.accordion--active .accordion__header {
  margin-bottom: 20px;
}

.accordion--active .accordion__header span::before {
  background-color: #ffffff;
}

.accordion--active .accordion__header span::after {
  background-color: transparent;
}

.accordion--active .accordion__content {
  opacity: 1;
}
