@import '../../../../global/scss/vars.scss';


.cards {
	padding: 160px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;

	@media(max-width: 767px) {
		position: static;
		padding: 15px 0;
		height: auto;
	}

	&__list {
		gap: 25px;
		height: 60vh;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		text-align: center;

		@media(max-width: 1200px) {
			gap: 10px;
			height: 40vh;
		}

		@media(max-width: 767px) {
			grid-template-columns: 1fr;
			height: auto;
			gap: 20px;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		border-radius: 24px;
		background-image: url('../img/card___bg.jpg');
		background-size: 110%;
		background-position: 0;
		background-repeat: no-repeat;
		position: relative;
		overflow: hidden;
		max-height: 500px;
		min-height: 500px;
		padding: 16px 16px 24px 16px;
		box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

		@media(max-width: 1200px) {
			height: 400px;
			min-height: auto;
		}

		@media(max-width: 992px) {
			height: 315px;

		}

		@media(max-width: 767px) {
			width: 100%;
			max-height: 400px;
			margin: 0;
			opacity: 0.8;
		}

		&--left {
			grid-column-start: 1;

			@media(max-width: 767px) {
				grid-column-start: auto;
			}
		}

		&--center {
			grid-column-start: 2;

			@media(max-width: 767px) {
				grid-column-start: auto;
			}
		}

		&--right {
			grid-column-start: 3;

			@media(max-width: 767px) {
				grid-column-start: auto;
			}
		}
	}

	&__img {
		width: 130px;
		margin: 0 auto;

		@media(max-width: 1200px) {
			width: 80px;
		}

		@media(max-width: 992px) {
			width: 60px;
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	&__text {
		margin: 35px 0;

		@media(max-width: 992px) {
			margin: 20px 0;
		}
	}

	&__title {
		font-size: 44px;
		font-family: $titleFont;
		font-weight: 700;
		line-height: 1.3;

		@media(max-width: 1200px) {
			font-size: 30px;
		}

		@media(max-width: 767px) {
			font-size: 28px;
		}
	}

	&__desc {
		font-size: 17px;
		line-height: 1.2;

		@media(max-width: 1200px) {
			font-size: 15px;
		}
	}

	&__subtitle {
		font-size: 17px;
	}

	&__bottom {
		margin-top: auto;
		background: #F9785F;
		color: #fff;
		border-radius: 16px;
		font-size: 20px;
		line-height: 1.1;
		padding: 8px 0;

		@media(max-width: 1200px) {
			font-size: 16px;
		}

		@media(max-width: 992px) {
			font-size: 12px;
		}
	}
}

@media(max-width: 767px) {
	.cards__item {
		opacity: 0;
		transform: translateY(30px);
		transition: opacity 0.6s ease-out, transform 0.6s ease-out;

		&.animate-in {
			opacity: 1;
			transform: translateY(0);
		}
	}

	.cards__item--left.animate-in {
		transition-delay: 0s;
	}

	.cards__item--center.animate-in {
		transition-delay: 0.2s;
	}

	.cards__item--right.animate-in {
		transition-delay: 0.4s;
	}
}