<div class="fullpage">

<section class="cards">
	<div class="container cards__container">
		<div class="cards__wrap">
			<ul class="cards__list  cards__list--left">
				<li class="cards__item cards__item--left">
					<div class="cards__text">
						<h2 class="cards__title">Retail</h2>
						<p class="cards__desc">Try on before you buy, directly in-app.</p>
					</div>
					<div class="cards__img">
						<img src="assets/img/card__item1.svg" alt="">
					</div>
					<div class="cards__bottom">
						<p>affiliate &amp; native checkout revenue</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>

<section class="cards">
	<div class="container cards__container">
		<div class="cards__wrap">
			<ul class="cards__list  cards__list--center">
				<li class="cards__item cards__item--center">
					<div class="cards__text">
						<h2 class="cards__title">Resale</h2>
						<p class="cards__desc">List &amp; sell pieces straight from your closet.</p>
					</div>
					<div class="cards__img">
						<img src="assets/img/card__item2.svg" alt="">
					</div>
					<div class="cards__bottom">
						<p>peer-to-peer transaction fees</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>

<section class="cards">
	<div class="container cards__container">
		<div class="cards__wrap">
			<ul class="cards__list  cards__list--right">
				<li class="cards__item cards__item--right">
					<div class="cards__text">
						<h2 class="cards__title">Social</h2>
						<p class="cards__desc">Share outfits, folders, and style inspiration.</p>
					</div>
					<div class="cards__img">
						<img src="assets/img/card__item3.svg" alt="">
					</div>
					<div class="cards__bottom">
						<p>engagement loop driving retail <br>+ resale virality</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>

</div>